headerbar {
    font-size: 15px;
    color: green;
    /* font-weight: bold;
    
    background: green;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; */
}

notebook {
    font-size: 15px;
    font-weight: bold;
    color: black;
    background: black;
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

frame#frame1 {
    border-color: yellow;
    background-color: black;
    border-width: 10px;
    border-style: solid;
}